<html class="no-js"><!--required for mobile menu flash issue-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - {{ site.title }}</title>
  <meta name="description" content="{{ page.title }} - {{ site.name }}" />
  <meta name="keywords" content="{{ page.keywords }}, {{ site.keywords }}" />
  <!-- Google fonts https://www.google.com/fonts
  ================================================== -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
  <link rel="stylesheet" href="https://rawgit.com/heyman/leaflet-areaselect/master/src/leaflet-areaselect.css" />
  <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://cdn.rawgit.com/mejackreed/Leaflet-IIIF/v1.0.1/leaflet-iiif.js"></script>
  <script src="https://cdn.rawgit.com/heyman/leaflet-areaselect/da8905695db78354ddd5b5d9de6ef13699b9d7a7/src/leaflet-areaselect.js"></script>
  <link rel="stylesheet" href="/css/bundle.css">
  <link rel="stylesheet" type="text/css" href="../css/custom.css">
  <!-- favicon
  ================================================== -->
  <link rel="shortcut icon" href="/favicon.ico">
  <!-- leaflet
  ================================================== -->

</head>
