<html class="no-js"><!--required for mobile menu flash issue-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - {{ site.title }}</title>
  <meta name="description" content="{{ page.title }} - {{ site.name }}" />
  <meta name="keywords" content="{{ page.keywords }}, {{ site.keywords }}" />
  <!-- Google fonts https://www.google.com/fonts
  ================================================== -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@annotorious/openseadragon@latest/dist/annotorious-openseadragon.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/openseadragon/5.0.1/openseadragon.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/@annotorious/openseadragon@latest/dist/annotorious-openseadragon.js"></script>
  <link rel="stylesheet" href="{{site.baseurl}}/css/bundle.css">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/custom.css">
  <!-- favicon
  ================================================== -->
  <link rel="shortcut icon" href="/favicon.ico">

</head>
