<header>

  <!-- NCSU Libraries Logo Area -->
  <div class="tab-bar top-bar">
		<div class="title-area">
			<div class="name">
			  	<a href="//www.lib.ncsu.edu" title="NCSU Library" rel="home" id="logo">
					<img itemprop="logo" src="/images/ncsu-library-logo-white.png" alt="Home" />
			  	</a>
			</div>
		</div>
	</div>
  </header>
  <div id="nav">
<!-- This section controls menu items as well as large screen nav -->
<div class="top-bar" id="main-menu">
<a href="{{site.baseurl}}/"><h2>IIIF Cropping Tool</h2></a>
</div>
</div>
